{{!-- Start of footer --}}
	<footer>
		{{!-- Top footer --}}
		<div class="top-footer">
			<div class="top-footer_card">
				<h2>Shop</h2>
				<ul class="top-footer_list">
					<li>
						<a href="/">Gift Cards</a>
					</li>
					<li>
						<a href="/">Zooks Express</a>
					</li>
				</ul>
			</div>
			<div class="top-footer_card">
				<h2>About</h2>
				<ul class="top-footer_list">
					<li>
						<a href="/">Zooks, Inc.</a>
					</li>
					<li>
						<a href="/">Policies</a>
					</li>
					<li>
						<a href="/">Investors</a>
					</li>
					<li>
						<a href="/">Careers</a>
					</li>
					<li>
						<a href="/">Press</a>
					</li>
				</ul>
			</div>
			<div class="top-footer_card follow">
				<h2>Follow Zooks</h2>
				<ul class="top-footer_list">
					<li>
						<a href="/">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="/">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="/">
							<i class="fab fa-pinterest-square"></i>
						</a>
					</li>
					<li>
						<a href="/">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="mobile-follow">
			<h2>Follow Zooks</h2>
			<ul class="mobile-follow_list">
				<li>
					<a href="/">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="/">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="/">
						<i class="fab fa-pinterest-square"></i>
					</a>
				</li>
				<li>
					<a href="/">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
			</ul>
		</div>
		{{!-- End of top footer --}}
		<div class="middle-footer">
			<h2>Zooks</h2>
			<p>Helping you find the best prices.</p>
		</div>
		{{!-- Bottom footer --}}
		<div class="bottom-footer">
			<div class="bottom-left">
				<h2>Zooks</h2>
				<p>Helping you find the best prices.</p>
			</div>
			<div class="bottom-right">
				<p>&copy; 2018 Zooks, Inc.</p>
				<a href="/">Terms of Use</a>
				<a href="/">Privacy</a>
			</div>
		</div>
	</footer>
	{{!-- End of bottom footer --}}
	<script src="/js/main.js"></script>
</body>

</html>