</head>

<body>
	<!-- Start of Mobile -->

	<div class="backdrop"></div>
	<div class="mobile-nav">
		<div class="mobile-form">
			<h3>Zooks
				<i class="fas fa-feather-alt"></i>
			</h3>
			<form action="/shop/search" method="POST">
				<input class="mobile-search-input" type="text" name="product" placeholder="Search For Products..." />
				<button class="mobile-search-btn" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<nav class="mobile-nav-container">
			<ul class="mobile-nav-list">
				<li class="mobile-nav-item sign">
					<a href="{{#if isSignedIn}}/log/out{{else}}/log/in{{/if}}">{{#if isSignedIn}}<i class="fas fa-user"></i>Sign Out{{else}}<i class="fas fa-user"></i>Sign In{{/if}}</a>
				</li>
				<li class="mobile-nav-item {{#if activeHome}}active{{/if}}">
					<a href="/">Home</a>
				</li>
				<li class="mobile-nav-item {{#if activeShop}}active{{/if}}">
					<a href="/shop">Shop</a>
				</li>
				<li class="mobile-nav-item {{#if activeProduct}}active{{/if}}">
					<a href="/product">Product</a>
				</li>
				<li class="mobile-nav-item {{#if activeCart}}active{{/if}}">
					<a href="/cart">Cart(0)
						<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
				<li class="mobile-nav-item {{#if activeOrder}}active{{/if}}">
					<a href="/order">Order</a>
				</li>
			</ul>
		</nav>
		<div class="mobile-copyright">
			<p>&copy; 2018 Zooks, Inc.</p>
		</div>
	</div>

	<!-- End of Mobile -->
	<!-- Start of main nav -->
	<header class="header-container">
		<div class="search-container">
			<i id="menu-icon" class="fas fa-bars"></i>
			<h3>Zooks
				<i class="fas fa-feather-alt"></i>
			</h3>
			<form action="/shop/search" method="POST">
				<input class="search-input" type="text" name="product" placeholder="Search For Products..." />
				<button class="search-btn" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<nav class="nav-container">
			<ul class="nav-list">
				<li class="nav-item {{#if activeHome}}active{{/if}}">
					<a href="/">Home</a>
				</li>
				<li class="nav-item {{#if activeShop}}active{{/if}}">
					<a href="/shop">Shop</a>
				</li>
				<li class="nav-item {{#if activeAddProduct}}active{{/if}}">
					<a href="/product">Product</a>
				</li>
				<li class="nav-item {{#if activeCart}}active{{/if}}">
					<a href="/cart">Cart(0)<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
				<li class="nav-item {{#if activeOrder}}active{{/if}}">
					<a href="/order">Order</a>
				</li>
				<li class="nav-item sign">
					<a href="{{#if isSignedIn}}/log/out{{else}}/log/in{{/if}}">{{#if isSignedIn}}<i class="fas fa-user"></i>Sign Out{{else}}<i class="fas fa-user"></i>Sign In{{/if}}</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- End of main nav -->
	<!-- Start of medium size nav -->
	<div class="medium-search-container">
		<form action="/shop/search" method="POST">
			<input class="medium-search-input" type="text" name="product" placeholder="Search For Products..." />
			<button class="medium-search-btn" type="submit">Search</button>
		</form>
	</div>
	<!-- End of medium size nav -->