 {{#if itemsOnSale}}
<main>

</main>
{{else}}
<main class="plain-homepage">
  <p>Bringing you the best prices at the touch of a button</p>
  <div class="plain-line_container">
    <div class="big-line"></div>
    <div class="small-line"></div>
  </div>
  <div class="plain-action">
    <p>What can<span class="plain-zooks"> Zooks </span>help you find today?</p>
    <a href="/shop">Shop</a>
  </div>
</main>
{{/if}}