<div class="product-type_container">
  <ul class="product-list">
    <li class="product-item"><a href="/shop/book">Books</a></li>
    <li class="product-item"><a href="/shop/homegardentool">Home, Garden &amp; Tools</a></li>
    <li class="product-item"><a href="/shop/electronic">Electronics</a></li>
    <li class="product-item"><a href="/shop/clothing">Clothing</a></li>
    <li class="product-item"><a href="/shop/toykidbaby">Toys, Kids &amp; Baby</a></li>
    <li class="product-item"><a href="/shop/moviemusicgame">Movies, Music &amp; Games</a></li>
    <li class="product-item"><a href="/shop/sportoutdoor">Sports &amp; Outdoors</a></li>
  </ul>
</div>