<div class="product-type_container">
  <ul class="product-list">
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4b6">Books</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4b8">Home, Garden &amp; Tools</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4b7">Electronics</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4ba">Clothing</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4bb">Toys, Kids &amp; Baby</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4b9">Movies, Music &amp; Games</a>
    </li>
    <li class="product-item">
      <a href="/shop/products/5bea36ae697fd134bf25c4bc">Sports &amp; Outdoors</a>
    </li>
  </ul>
</div>

{{!-- Main Shopping page --}} 
{{#if isOnMainShopPage}} {{#if productsOnSale}} {{!-- Products on sale --}}

{{> shop-sale}}
{{else}} {{!-- No Products on sale --}}

<div class="no-sale-container">
  <h1>Choose the product type your looking for from the links above to find the best deals</h1>
</div>
{{/if}} {{/if}} 

{{!-- Product Type page --}} 
{{#if isOnProductTypePage}} {{!-- Products in choosen product type in stock
--}} {{#if hasProducts}}

{{> shop-product_type}}

{{else}} {{!-- Products not in stock --}}
<div class="no-products-container">
  <h1>Sorry, we don't have anything in stock right now</h1>
</div>
{{/if}} {{/if}}

{{!-- Indivdual Product page --}}
{{#if isOnIndividualProductPage}}
  {{> shop-product}}
{{/if}}

{{!-- Search Product page --}}

{{#if isOnSearchPage}} 
  {{#if productFound}}
    {{> shop-search}}
  {{else}}
    <div class="product-not_found">
      <h1>Could not find {{pageTitle}}...</h1>
    </div>
  {{/if}}
{{/if}}