.login-container {
	width: 100vw;
	height: 22rem;
	display: flex;
	justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .1rem;
}

.login-card {
	width: 18rem;
	height: 22rem;
	margin-top: 2rem;
	border: 1px solid rgb(187, 187, 187);
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.login-card form {
  display: flex;
  width: 16rem;
	flex-direction: column;
  margin: 2rem 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  align-items: center;
}

.login-card button {
  padding: .5rem .5rem;
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: .1rem;
  width: 10rem;
  border-radius: .3rem;
  border-color: black;
  cursor: pointer;
}

.login-card button:hover {
  color: white;
  background-color: black;
  transition: all .3s;
}

.login-card a {
  text-decoration: none;
  margin-top: 1rem;
  color: #018a87;
}

.login-card a:hover{
  text-decoration: underline;
  color: black;
}

.user-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-input label {
  margin-bottom: .5rem;
}

.user-input input {
  font-size: 1rem;
  font-weight: 300;
  border-radius: .3rem;
  outline-style: none;
  border: 1px solid rgb(160, 159, 159);
  padding: .2rem .5rem;
}

.user-input input:focus {
  border-color: black;
}

.failed-attempt {
  font-size: .9rem;
  color: red;
}


@media (min-width: 1000px) {
  .login-card {
    transform: scale(1.2);
  }
  h1 {
    margin-bottom: 1rem;
  }
}
